<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Mapa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Imagen del mapa -->
  <div style="height: 100vh; display: flex; justify-content: center; align-items: center;">
    <img src="https://storage.googleapis.com/support-forums-api/attachment/thread-21950169-15070763766771596119.png" 
         alt="Mapa" 
         style="max-width: 100%; height: auto;">
  </div>
</ion-content>
